<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="css/hotel.css">
    <link rel="stylesheet" href="css/charlie.css">
    <link rel="stylesheet" href="css/echo.css">
    <link rel="stylesheet" href="css/whisky.css">
    <link rel="stylesheet" href="css/papa.css">
    <link rel="stylesheet" href="css/alpha.css">
    <link rel="stylesheet" href="css/foxtrot.css">
    <link rel="stylesheet" href="css/bravo.css">
    <link rel="stylesheet" href="css/golf.css">
    <link rel="stylesheet" href="css/november.css">
    <link rel="stylesheet" href="css/juliett.css">
    <link rel="stylesheet" href="css/mike.css">
    <link rel="stylesheet" href="css/delta.css">
    <link rel="stylesheet" href="css/yankee.css">
</head>
<body>
    <div class="poppin" style="background-color:rgba(34, 35, 36,0.7); background-color:rgb(34, 35, 36);padding: 15px 15px 15px 15px;box-shadow: 0px 0px 8px 4px rgb(0 0 0 / 70%);width: auto;margin: auto;border: solid 2px #5D5D5D;">
        <div class="anom-bar-esoteric">
        <div class="custom-text-wrap">
        <div class="anom-bar-container item-7396 clear-3 cernunnos in progress keneq notice {$american}">
        <div class="anom-bar">
        <div class="top-box">
        <div class="top-left-box"><span class="item">ITEM#</span> <span class="number">7396</span></div>
        <div class="top-center-box">
        <div class="bar-one"></div>
        <div class="bar-two"></div>
        <div class="bar-three"></div>
        <div class="bar-four"></div>
        <div class="bar-five"></div>
        <div class="bar-six"></div>
        </div>
        <div class="top-right-box">
        <div class="level">LEVEL:III</div>
        <div class="clearance">CONFIDENTAL</div>
        </div>
        </div>
        <div class="bottom-box">
        <div class="text-part">
        <div class="main-class">
        <div class="contain-class">
        <div class="class-category">CONTAINMENT TYPE:</div>
        <div class="class-text">cernunnos</div>
        </div>
        <div class="second-class">
        <div class="class-category">SECONDARY CLASS:</div>
        <div class="class-text">in progress</div>
        </div>
        </div>
        <div class="disrupt-class">
        <div class="class-category">DISRUPTION LEVEL:</div>
        <div class="class-text">keneq</div>
        </div>
        <div class="risk-class">
        <div class="class-category">RISK LEVEL:</div>
        <div class="class-text">notice</div>
        </div>
        </div>
        <div class="diamond-part">
        <div class="danger-diamond"><a href="/classification-committee-memo">link to memo</a><br>
        <div class="arrows"></div>
        <div class="octagon"></div>
        <div class="quadrants">
        <div class="top-quad"></div>
        <div class="right-quad"></div>
        <div class="left-quad"></div>
        <div class="bottom-quad"></div>
        </div>
        <div class="top-icon"></div>
        <div class="right-icon"></div>
        <div class="left-icon"></div>
        <div class="bottom-icon"></div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div style="display: none;">
        <div class="anom-bar-container item-{$item-number} clear-3 {$container-class} {$secondary-class} {$disruption-class} {$risk-class} {$american}">
        <div class="anom-bar">
        <div class="top-box">
        <div class="top-left-box"><span class="item">Item#:</span> <span class="number">{$item-number}</span></div>
        <div class="top-center-box">
        <div class="bar-one"></div>
        <div class="bar-two"></div>
        <div class="bar-three"></div>
        <div class="bar-four"></div>
        <div class="bar-five"></div>
        <div class="bar-six"></div>
        </div>
        <div class="top-right-box">
        <div class="level">Level3</div>
        <div class="clearance"></div>
        </div>
        </div>
        <div class="bottom-box">
        <div class="text-part">
        <div class="main-class">
        <div class="contain-class">
        <div class="class-category">Containment Class:</div>
        <div class="class-text">{$container-class}</div>
        </div>
        <div class="second-class">
        <div class="class-category">Secondary Class:</div>
        <div class="class-text">{$secondary-class}</div>
        </div>
        </div>
        <div class="disrupt-class">
        <div class="class-category">Disruption Class:</div>
        <div class="class-text">{$disruption-class}</div>
        </div>
        <div class="risk-class">
        <div class="class-category">Risk Class:</div>
        <div class="class-text">{$risk-class}</div>
        </div>
        </div>
        <div class="diamond-part">
        <div class="danger-diamond"><a href="/classification-committee-memo">link to memo</a><br>
        <div class="arrows"></div>
        <div class="octagon"></div>
        <div class="quadrants">
        <div class="top-quad"></div>
        <div class="right-quad"></div>
        <div class="left-quad"></div>
        <div class="bottom-quad"></div>
        </div>
        <div class="top-icon"></div>
        <div class="right-icon"></div>
        <div class="left-icon"></div>
        <div class="bottom-icon"></div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
</body>
</head>
</html>