#cursor{
  border:solid 1px white;
  visibility: visible;
  pointer-events: none;
  z-index: 99;
  position:fixed;
  width: 15px;
  height: 15px;
  background-image: url("https://scp-wiki.wdfiles.com/local--files/scp-7396/2.gif")!important;
  background-position: 500px 500px;
}
