
.custom-text-wrap .anom-bar-container.clear-6 .top-right-box > .clearance::before {
    content: ""!important;
}

.custom-text-wrap .anom-bar-container.clear-5 .top-right-box > .clearance::before {
    content: ""!important;
}

.custom-text-wrap .anom-bar-container.clear-4 .top-right-box > .clearance::before {
    content: ""!important;
}

.custom-text-wrap .anom-bar-container.clear-3 .top-right-box > .clearance::before {
    content: ""!important;
}

.custom-text-wrap .anom-bar-container.clear-2 .top-right-box > .clearance::before {
    content: ""!important;
}

.custom-text-wrap .anom-bar-container.clear-1 .top-right-box > .clearance::before {
    content: ""!important;
}
