.center {
    margin: auto;
    width: 1100px;
    padding-top: 90px;
  }

  ::-moz-selection { /* Code for Firefox */
    background: #E23C3F;
  }
  
  ::selection {
    background: #E23C3F;
  }

  a:link {
    color: #E23C3F;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: #E23C3F;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: #E23C3F;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: #E23C3F;
    background-color: transparent;
    text-decoration: underline;
  }