
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

div.scroller{
  scrollbar-color: #E23C3F #2C2C2D;
  scrollbar-width: thin;
}

.center {
    margin: auto;
    width: 1120px;
    padding-top: 85px;
    font-family: Sofia Sans;
  }

  ::-moz-selection { /* Code for Firefox */
    background: #E23C3F;
  }
  
  ::selection {
    background: #E23C3F;
  }

  a:link {
    color: #E23C3F;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: #E23C3F;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: #E23C3F;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: #E23C3F;
    background-color: transparent;
    text-decoration: underline;
  }